.content-panel {
  /*border-radius: 2vw;
  /*background: linear-gradient(145deg, #f0f0f0, #e0e0e0);
 /* box-shadow: 5px 5px 10px #b1b1b1, -5px -5px 10px #ffffff;*/
  height: 95%;
  width: 92%;
  /* max-height: 97vh;
  min-height: 500px;
  min-width: 300px;*/
  overflow: hidden;
  margin: 1.5vh 0.8vw 1.5vh 0.8vw;
  padding: 0.5vh 0.1vw 0.5vh 0.1vw;
}

@media (max-width: 1215px) {
  .content-panel {
    /*border-radius: 2vw;
  /*background: linear-gradient(145deg, #f0f0f0, #e0e0e0);
 /* box-shadow: 5px 5px 10px #b1b1b1, -5px -5px 10px #ffffff;*/
    height: 95%;
    width: 92%;
    /* max-height: 97vh;
  min-height: 500px;
  min-width: 300px;*/
    overflow-y: scroll;
    margin: 1.5vh 0.8vw 1.5vh 0.8vw;
    padding: 0.5vh 0.1vw 0.5vh 0.1vw;
  }
}

.content-panel-visible {
  border-radius: 2vw;
  background: var(--card-background-color-dark);
  box-shadow: 15px 15px 20px #15171a, -15px -15px 20px #1d2024;
  height: 89%;
  width: 92%;
  /* max-height: 97vh;
  min-height: 500px;
  min-width: 300px;*/
  overflow: hidden;
  margin: 4.5vh 0.8vw 4.4vh 0.8vw;
  padding: 0.5vh 0.2vw 0.5vh 0.1vw;
}
