.content-panel {
  border-radius: 2vw;
  background: #e0e0e0;
  box-shadow: 19px 19px 38px #bababa, -1px -1px 38px #ffffff;
  height: 95vh;
  width: 85vw;
  max-height: 97vh;
  min-height: 500px;
  min-width: 300px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  margin: 2vh 2vh 1.2vw .3vw;
  padding: 2vh 2vh 2vw 2vw !important;
}
