.device-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2vw;
  padding: 0;
  color: var(--secondary-text-color);
}

.doc-device-icon-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2vw;
  padding: 0;
}

.doc-icon-inactive {
  color: var(--default-text-color)
}

.doc-icon-active {
  color: #ff9900;
}

.doc-label {
  margin: 0.1vw 1vw 0.4vw 1vw;
  font-size: 90%;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: var(--default-text-color);
  text-align: center;
}

.doc-button {
  margin: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 1vw;
}
