.sidebar {
  border-radius: 2vw;
  background: #eef0f4;
  box-shadow: 12.01px 12.01px 18px #c9cbce, -12.01px -12.01px 18px #ffffff;
  height: 95vh;
  width: 15vw;
  max-height: 97vh;
  min-height: 500px;
  max-width: 15vw;
  min-width: 100px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  margin: 2vh 2vh 0vw 1.2vw;
  z-index: 10;
}

.sidebar-dark {
  border-radius: 2vw;
  background: linear-gradient(160deg, #353a41, #1a1e20);
  box-shadow: 15px 15px 20px #15171a, -15px -15px 20px #1d2024;
  height: 95vh;
  width: 15vw;
  max-height: 97vh;
  min-height: 500px;
  max-width: 15vw;
  min-width: 100px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  margin: 2vh 2vh 0vw 1.2vw;
  z-index: 10;
}

.sidebar-itens {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  user-select: none;
  text-decoration: none;
  list-style: none;
  padding: 0vh 1vh 1vh 1vh;
}

.sidebar-header {
  text-align: center;
  margin: 1vw 2vw 1.5vw 2vw;
  padding: 0;
}

.logo {
  height: 8vw;
  width: 8vw;
  }