.sidebar {
  border-radius: 2vw;
  background: #eef0f4;
  box-shadow: 12.01px 12.01px 18px #c9cbce, -12.01px -12.01px 18px #ffffff;
  height: 95vh;
  width: 15vw;
  max-height: 97vh;
  min-height: 500px;
  max-width: 15vw;
  min-width: 100px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  margin: 2vh 2vh 0vw 1.2vw;
  z-index: 10;
}

.sidebar-dark-expanded {
  border-radius: 2vw;
  background: var(--card-background-color-dark);
  box-shadow: 15px 15px 20px #15171a, -15px -15px 20px #1d2024;
  height: 95vh;
  width: 25vw;  
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin:1%;
  z-index: 10;
  min-width: 180px;
}

.sidebar-dark {
  border-radius: 0.8vw;
  background: var(--card-background-color-dark);
  box-shadow: 15px 15px 20px #15171a, -15px -15px 20px #1d2024;
  height: 95vh;
  width: 5vw;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  margin: 1%;
  z-index: 10;
  min-width: 80px;

}

.sidebar-itens {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  user-select: none;
  text-decoration: none;
  list-style: none;
  padding: 0vh 1vh 1vh 1vh;
}

.sidebar-header {
  text-align: center;
  /* margin: 1vw 2vw 1.5vw 2vw; */
  margin: 15% 15% 5% 15%;

  padding: 0;  
}

.logo {
  height: 8vw;
  width: 8vw;
}

.sideBar-separator{
  width: 15vw;
  color: var(--secondary-text-color);
  /*margin: 0 0.2vw 1.5vw 0.2vw;*/
}

.sidebar-footer{
  display: flex;
  align-items: end;
  justify-content: center;
  height: 35%;  
  color: var(--default-text-color)
}

@media (max-height: 800px) {
  .sidebar-footer{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20%;  
    color: var(--default-text-color)
  }
}

.sidebar-logout-icon{

  color: var(--secondary-color);
  padding-Left: 5px;
  text-align: center;
  cursor: pointer;
  font-Size: 25px !important

}

.sidebar-logout-icon:hover{
  color: var(--primary-color);

}
