.sir-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2vw;
  padding: 0;
  color: rgb(168, 168, 168);
}

.sir-label {
  margin: 0.1vw 1vw 0.4vw 1vw;
  font-size: 0.7vw;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #60656b;
  text-align: center;
}

.sir-value {
  font-size: 2vw;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  color: #60656b;
  text-align: center;
}

.sir-unit {
  font-size: 0.9vw;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #60656b;
}

.sir-value-container * {
  display: inline-block;
  margin-top: 0.1vw;

}

.sir-icon {
  align-items: start;
  justify-content: left;
  color: #60656b;
}
