.info-container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin: 1%;
  font-family: "Poppins", sans-serif;
}

.info-container-content-left {
  color: rgb(168, 168, 168);
  text-align: initial;
  padding: 3%;
  margin-left: 30%;
  margin-right: 2%;
  margin-top: 1%;
  font-family: "Poppins", sans-serif;
}

.info-container-content-right {
    color: rgb(168, 168, 168);
    text-align: initial;
    padding: 3%;
    margin-left: 2%;
    margin-right: 30%;
    margin-top: 1%;
    font-family: "Poppins", sans-serif;
  }

.info-device-model-title {
  font-size: 2.1vw;
  font-weight: 700;
  color: rgb(168, 168, 168);
  text-align: initial;
  margin: 1%;
}

.info-container-button {
    font-size: 2.1vw;
    font-weight: 700;
    color: rgb(168, 168, 168);
    text-align: initial;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.info-title {
  font-size: 1.5vw;
  font-weight: 400;
  color: rgb(168, 168, 168);
  text-align: initial;
  margin-bottom: 5%;
}

.info-device-model-icon {
  padding: 0.2vh;
  color: rgb(168, 168, 168);
}

.info-item {
  color: rgb(168, 168, 168);
  margin: 0.8%;
  font-size: 0.9vw;
}

.info-label {
  font-weight: 400;
}

.info-value {
  font-weight: 200;
  margin-left: 2%;
}
