/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.5vw;
  height: 1.5vw;
}

@media (max-width:1000px) {
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: calc(2.5vw * 1.5);
    height: calc(1.5vw * 1.5);
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: rgb(76, 84, 92);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5vw;
  width: 1.5vw;
  inset: 0;
  background-color: rgb(220, 220, 220);
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width:1000px) {
  .slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(1.5vw * 1.5);
    width: calc(1.5vw * 1.5);
    inset: 0;
    background-color: rgb(220, 220, 220);
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

.switch input:checked + .slider {
  background: linear-gradient(
    45deg,
    rgba(29, 185, 255, 1) 0%,
    rgba(82, 115, 255, 1) 40%,
    rgba(163, 42, 255, 1) 100%
  );
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #7d7d7d;
}

.switch input:checked + .slider:before {
  transform: translateX(1.2vw);
}

@media (max-width:1000px) {
  .switch input:checked + .slider:before {
    transform: translateX(calc(1.2vw * 1.5));
  }
}

.toggle-switch{
}
