.table-output {
    font-size: 0.9vw;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    color: var(--default-text-color);
    text-align: center;
    justify-content: center;
    align-items: center;
}