.card-sm {
  border-radius: 2vw;
  background: #eef0f4;
  box-shadow: 12.01px 12.01px 15px #c9cbce, -2.01px -2.01px 19px #ffffff;
  height: 8.5vw;
  width: 8.5vw;
  max-height: 20vh;
  min-height: 8.5vw;
  min-width: 8.5vw;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 0.6vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-sm-dark {
  border-radius: 2vw;
  background: var(--card-background-color-dark);
  box-shadow: 15px 15px 20px #15171a, -5px -5px 15px #1d2024;
  height: 85%;
  width: 100%;
  /*max-height: 20vh;
  min-height: 8.5vw;
  min-width: 8.5vw;*/
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 1.25%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: auto;
}

.card-md {
  border-radius: 2vw;
  background: #eef0f4;
  box-shadow: 12.01px 12.01px 15px #c9cbce, -2.01px -2.01px 19px #ffffff;
  height: 8.5vw;
  width: 18vw;
  max-height: 25vh;
  min-height: 8.5vw;
  min-width: 18vw;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 1%;
}

.card-md-dark {
  border-radius: 2vw;
  background: var(--card-background-color-dark);
  box-shadow: 15px 15px 20px #15171a, -5px -5px 15px #1d2024;
  height: 92%;
  width: 50%;
  /* max-height: 25vh;
  min-height: 8.5vw;
  min-width: 18vw; */
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 1.25%;
}

.card-lg {
  border-radius: 2vw;
  background: #eef0f4;
  box-shadow: 12.01px 12.01px 15px #c9cbce, -2.01px -2.01px 19px #ffffff;
  height: 38vh;
  width: 44vw;
  max-height: 45vh;
  min-height: 120px;
  min-width: 180px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 0.5%;
}

.card-lg-dark {
  border-radius: 2vw;
  background: var(--card-background-color-dark);
  box-shadow: 15px 15px 20px #15171a, -5px -5px 15px #1d2024;
  height: 95%;
  width: 100%;
  /* max-height: 45vh;
  min-height: 120px;
  min-width: 180px; */
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 1.25%;
}

