.card-sm {
  border-radius: 2vw;
  background: #eef0f4;
  box-shadow: 12.01px 12.01px 15px #c9cbce, -2.01px -2.01px 19px #ffffff;
  height: 8.5vw;
  width: 8.5vw;
  max-height: 20vh;
  min-height: 8.5vw;
  min-width: 8.5vw;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 0.6vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-sm-dark {
  border-radius: 2vw;
  background: linear-gradient(160deg, #353a41, #1a1e20);
  box-shadow: 15px 15px 20px #15171a, -15px -15px 20px #1d2024;
  height: 8.5vw;
  width: 8.5vw;
  max-height: 20vh;
  min-height: 8.5vw;
  min-width: 8.5vw;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 0.6vw;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: auto;
}

.card-md {
  border-radius: 2vw;
  background: #eef0f4;
  box-shadow: 12.01px 12.01px 15px #c9cbce, -2.01px -2.01px 19px #ffffff;
  height: 8.5vw;
  width: 18vw;
  max-height: 25vh;
  min-height: 8.5vw;
  min-width: 18vw;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 0.6vw;
}

.card-md-dark {
  border-radius: 2vw;
  background: linear-gradient(160deg, #353a41, #1a1e20);
  box-shadow: 15px 15px 20px #15171a, -15px -15px 20px #1d2024;
  height: 8.5vw;
  width: 18vw;
  max-height: 25vh;
  min-height: 8.5vw;
  min-width: 18vw;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 0.6vw;
}

.card-lg {
  border-radius: 2vw;
  background: #eef0f4;
  box-shadow: 12.01px 12.01px 15px #c9cbce, -2.01px -2.01px 19px #ffffff;
  height: 38vh;
  width: 44vw;
  max-height: 45vh;
  min-height: 120px;
  min-width: 180px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 0.6vw;
}

.card-lg-dark {
  border-radius: 2vw;
  background: linear-gradient(160deg, #353a41, #1a1e20);
  box-shadow: 15px 15px 20px #15171a, -15px -15px 20px #1d2024;
  height: 38vh;
  width: 44vw;
  max-height: 45vh;
  min-height: 120px;
  min-width: 180px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin: 0.6vw;
}

.device-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2vw;
  padding: 0;
  color: rgb(168, 168, 168);
}

.device-card-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2vw;
  padding: 0;
}

.icon-inactive {
  color: rgb(76, 84, 92);
}

.icon-active {
  color: #ffa703;
}

.label-card {
  margin: 0.1vw 1vw 0.4 vw 1vw;
  font-size: 0.7vw;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #60656b;
  text-align: center;
}

.button-card {
  margin: 0.2vw;
  justify-content: center;
  align-items: center;
  display: flex;
}
