#root {
  /*background: #eef0f4;*/
  background: #1e2124 ;

}

*,
::before,
::after {
  box-sizing: border-box;
}

.principal-container {
  height: 100vh;
  padding: 0;
  display: flex;
  /*flex-wrap: nowrap;*/
  width: 100%;
}
