#root {
  /*background: #eef0f4;*/
  background: #26282b;

}

*,
::before,
::after {
  box-sizing: border-box;
}

.principal-container {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
