.item {
  padding: 0.5vh;
  margin: 0.6vh;
  display: flex;
  text-decoration: none;
  color: rgb(76, 84, 92);
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.item:hover {
  border-radius: 0;
  color: #4786ff;
  border-left: 5px solid #2fa5ff;
  transform: scale(1.02);

}

.item:active {
  transform: scale(0.97);
}

.item-active {
  padding: 0.6vh;
  margin: 0.5vh;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap;
  border-radius: calc(2vh / 3);
  background: linear-gradient(
    45deg,
    rgba(29, 185, 255, 1) 0%,
    rgba(82, 115, 255, 1) 40%,
    rgba(163, 42, 255, 1) 100%
  );
  color: rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.42) 1px 1px 2px inset,
    rgba(241, 241, 241, 0.45) 0px 1px 0px 0px;
  text-align: center;
  justify-items: center;
  }

.title {
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding: 0.1vw 0.5vw 0.1vw 0.5vw;
}

.icon {
  padding: 0.1vw 0.1vw 0.1vw 2vw;
}
