.gcr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2vw;
  padding: 2%;
  color: rgb(168, 168, 168);
  position: relative;
  height: 80%;
}

.value-chart {
  position: absolute;
  top: 55%;
  left: 37%;
}

.gcr-label {
  margin: 0.1vw 1vw 0.4vw 1vw;
  font-size: 0.7vw;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #60656b;
  text-align: center;
}

.gcr-label {
  margin: 0.1vw 0.1vw 0.1vw 0.11vw;
  font-size: 0.9vw;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #60656b;
  text-align: center;
  display: flex;
  align-items: center;
}

.gcr-icon {
  padding: 0.6vh;
  color: #60656b;
}

.gcr-value {
  font-size: 2vw;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  color: #60656b;
  text-align: center;
}

.gcr-unit {
  font-size: 0.9vw;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #60656b;
}

.gcr-value-container * {
  display: inline-block;
  margin-top: 0.1vw;
}

.gcr-icon {
  align-items: start;
  justify-content: left;
  color: #60656b;
}
